.env
/node_modules
/mongo
/dist
/build
/coverage

/uploads/users/*.jpeg
/uploads/users/*.jpg
/uploads/users/*.png
/uploads/users/*.pdf
/uploads/users/*.gif

/uploads/products/*.jpeg
/uploads/products/*.jpg
/uploads/products/*.png
/uploads/products/*.pdf
/uploads/products/*.gif

/uploads/categories/*.jpeg
/uploads/categories/*.jpg
/uploads/categories/*.png
/uploads/categories/*.pdf
/uploads/categories/*.gif
